div{
    width: 100px;
    height: 100px;
}

.satuoof{
    background-color: salmon;
    float: right;
}
.duaoof{
    background-color: limegreen;
    float: left;
    margin-left: 10px;
}
.tigaoof{
    background-color: lightskyblue;
}
/* DALAM BORDER */
.container{
    width: 600px;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}
.satu{
    background-color: salmon;
}
.dua{
    background-color: limegreen;
    float: right;
}
.tiga{
    background-color: lightskyblue;
}

.textwrapping{
    width: 600px;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    text-align: justify;
}
.textwrapping img{
    width: 400px;
    float: right; /*tulisannya jadi mengelilingi gambar*/
    margin-left: 20px;
}
.kotak{
    width: 80px;
    height: 80px;
    background-color: salmon;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 2px;
    float: left;
}
.mcl{
    width: 800px;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}
.kiri{
    width: 150px;
    height: 500px;
    background-color: salmon;
    float: left;
}
.tengah{
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    float: left;
}
.kanan{
    width: 150px;
    height: 500px;
    background-color: limegreen;
    float: left;
}





/* tambahab */
ul li{
    text-align: justify;
    line-height: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.catatan{
    font-weight: bold;
    background-color: #eaeaea;
    color: red;
    font-size: 40px;
}