/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* STYLE */

@font-face {
    font-family: backslash;
    src: url(/font/Backslash-RpJol.otf) format("opentype");
}

@keyframes putargambar {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes xclose {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    50% {
        opacity: 0.5;
        margin-top: -10px;
    }
    80% {
        opacity: 0.7;
        margin-top: -5px;
    }
    90% {
        opacity: 0.9;
        margin-top: -3px;
    }
    100% {
        opacity: 1;
        margin-top: auto;
    }
}

@keyframes next {
    0% {
        opacity: 0;
        right: 10%;
    }
    100% {
        opacity: 1;
        right: 23%;
    }
}

@keyframes previous {
    0% {
        opacity: 0;
        left: 10%;
    }
    100% {
        opacity: 1;
        left: 23%;
    }
}

body {
    font: 18px/36px backslash, 'arial narrow', arial, sans-serif;
    background-color: #ccc;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid orange;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
}

.gallery span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 2s;
}

.gallery li:hover img {
    filter: blur(1px);
    animation: putargambar 2s ease forwards;
}

.gallery li:hover span {
    opacity: 1;
    color: black;
    font-weight: bolder;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 1s;
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.gallery li:hover .overlay img {
    animation: putargambar paused;
}

.overlay:target {
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: auto;
    height: auto;
    text-align: center;
    padding: 100px;
    opacity: 1;
}

.overlay:target img {
    max-height: 100%;
    max-width: 100%;
}

.overlay .close {
    width: fit-content;
    position: absolute;
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
    transition: .2s;
}

.overlay:target .close {
    animation: xclose linear .5s .5s forwards;
}


/* navigasi */

.next {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url(/img/button/next.png);
    background-color: white;
    border-radius: 50%;
    color: transparent;
    top: 40%;
    right: 23%;
    margin: auto;
    display: block;
    transition: .2s;
    opacity: 0;
}

.previous {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url(/img/button/previous.png);
    background-color: white;
    border-radius: 50%;
    color: transparent;
    top: 40%;
    left: 23%;
    margin: auto;
    display: block;
    transition: .2s;
    opacity: 0;
}

.next:hover {
    transform: rotate(360deg);
}

.previous:hover {
    transform: rotate(-360deg);
}

.overlay:target .next {
    animation: next ease .5s .5s forwards;
}

.overlay:target .previous {
    animation: previous ease .5s .5s forwards;
}


/* teks */

.container p {
    text-align: justify;
}